.hero-section{
    background-image: url("@/assets/Images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; /* Makes the image cover the full container while maintaining aspect ratio */
    // min-height: 95vh;
    // max-height: 900px;
    margin-bottom: 45px;
    position: relative;
    z-index: 0;
 
    &::after{
        content: "";
        z-index: -1;
        position: absolute;
        right: 0;
        left: 0;
        height: 350px;
        bottom: -50px;
        background: rgb(1,22,39);
        background: linear-gradient(180deg, rgba(1,22,39,0.0017348003654586996) 0%, rgba(1,22,39,1) 77%, rgba(1,22,39,1) 100%);

	}
}
