.other-sections{
	position: relative;
// background-color: #1E1E1E;
    background-image: url("../../assets/images/bg-shadows.png");
	background-repeat: no-repeat;
	background-position: 20% top;
	background-size: cover;
	height: fit-content;
    margin-top: -80px;
     
    // z-index: 0;
    // &::before{
    //     content: "";
    //     z-index: -1;
    //     position: absolute;
    //     right: 0;
    //     left: 0;
    //     height: 350px;
    //     top: -50px;
    //     background: rgb(1,22,39);
    //     background: linear-gradient(0deg, rgba(1,22,39,0.0017348003654586996) 0%, rgba(1,22,39,1) 77%, rgba(1,22,39,1) 100%);
	// }

}
