// _variables.scss
$font-playfair: "Playfair Display", serif;
$font-alexandria: "Alexandria", sans-serif;

$color-background: #011627;
$color-purple1: #EEEEEE;
$color-black1: #34332E;

$font-size-heading: 72px;
$font-size-small-heading: 40px;
$font-size-subHeading: 24px;
$font-size-small-subHeading: 20px;
$font-size-body: 15px;

$line-height-heading: 79.2px;
$line-height-subHeading: 36px;
$line-height-body: 16px;
